&__tab {
    margin: 0 5px;
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: 0.5s all;
    &:hover:not(&_active) {
        border: none;
        box-shadow: 3px 3px 20px black;
    }
    div {
        transform: skewX(25deg);
    }
    &_active {
        border: none;
        background-color: $main_color;
        color: white;
    }
}

@media (max-width: $md) {
    &__tab {
        width: 360px;
        margin: 0;
        margin-top: 10px;
    }
}

@media (max-width: $sm) {
    &__tab {
        width: 250px;
    }
}