&__tabs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    list-style-type: none;
    justify-content: center;
}

@media (max-width: $md) {
    &__tabs {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

    }
}