@import "base/_variables.scss";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}


@import "blocks/promo/promo";
@import "blocks/header/header";
@import "blocks/button/button";
