@import "base/_variables.scss";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}


@import "blocks/promo/promo";
@import "blocks/header/header";
@import "blocks/title/title";
@import "blocks/button/button";
@import "blocks/benefits/benefits";
@import "blocks/consultation/consultation";
@import "blocks/form/form";
@import "blocks/carousel/carousel";
@import "blocks/catalog/catalog";
@import "blocks/catalog-item/catalog-item";
@import "blocks/feedback/feedback";




