&__content {
    margin-top: 60px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    &_active {
        display: flex;
    }
}

@media (max-width: $lg) {
    &__content {
        justify-content: space-around;
    }
}