.benefits {
    min-height: 475px;
    padding: 70px 0 85px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
    }
    &__item {
        max-width: 280px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        &_animated {    
            animation: heartbeat 2s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__subheader {
        margin-top: 42px;
        font-size: 18px;
        color: #0d0d0d;
        text-align: center;
        font-weight: 500;
    }
    &__descr {
        margin-top: 30px;
        font-size: 14px;
        color: #0d0d0d;
        text-align: center;
    }
    &__anchor {
        text-transform: uppercase;
        color: red;
        &:hover {
            color: red;
        }
    }
}

@media (max-width: $md) {
    .benefits {
        padding: 50px 0 65px 0;
        &__items {
            margin: 0;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 60px;
            max-width: 400px;
        }

        &__subheader {
            margin-top: 10px;
        }
    }
}