.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../../../img/main.jpg') no-repeat center center / cover;   
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #fff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 24px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 425px;
        margin-top: 65px;
    }
    &__icon {
        width: 110px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

@media (max-width: $md) {
   .promo {
        &__wrapper {
            align-items: center;
        }
   }
}

@media (max-width: $sm) {
    .promo {
        min-height: 400px;
        padding-top: 10px;
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons { 
            display: none;
        }
        
    }
 }