 .carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        z-index: 1;
        background-color: transparent;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
      right: -66px;
      left: auto;
    }
    .tns-item {
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .tns-nav {
      display: block;
      margin: 0 auto;
      width: 100px;
      button {
        border: none;
        margin-left: 10px;
        background-color: #C70101;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      .tns-nav-active {
        background-color: gray;
      }
    }
}

@media (max-width: $xl) {
  .carousel {
    &__inner {
      width: 600px;
    }
    .prev, .next {
      display: none;
    }
  }
}

@media (max-width: $lg) {
  .carousel {
    .tns-item {
      img {
        width: 100%;
      }
    }
  }
}